   body {
       font-family: Arial, sans-serif;
       background-color: #f4f4f4;
       color: #333;
   }

   header {
       background: #333;
       color: #fff;
       padding: 10px 0;
   }

   nav ul {
       list-style: none;
       padding: 0;
   }

   nav ul li {
       display: inline;
       margin-right: 20px;
   }

   nav ul li a {
       color: #fff;
       text-decoration: none;
   }

   footer {
       text-align: center;
       padding: 10px 0;
       background: #333;
       color: #fff;
   }

   button {
       background: #007BFF;
       color: white;
       border: none;
       padding: 10px 15px;
       cursor: pointer;
   }

   button:hover {
       background: #0056b3;
   }

   /* Темная тема */
   body.dark {
       background-color: #333;
       color: #f4f4f4;
   }

   header.dark {
       background: #222;
   }

   footer.dark {
       background: #222;
   }
   